SmartBoardGUI/src/META-INF/wsdl/85.254.209.136_4081/WS/SessionsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sessions/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sessions/" name="SessionsService">
<types>
<xsd:schema>
<xsd:import namespace="http://sessions/" schemaLocation="http://192.168.199.36:8000/WS/SessionsService?xsd=1" />
</xsd:schema>
</types>
<message name="newSession">
<part name="parameters" element="tns:newSession" />
</message>
<message name="newSessionResponse">
<part name="parameters" element="tns:newSessionResponse" />
</message>
<message name="getSessions">
<part name="parameters" element="tns:getSessions" />
</message>
<message name="getSessionsResponse">
<part name="parameters" element="tns:getSessionsResponse" />
</message>
<message name="getKeyFrames">
<part name="parameters" element="tns:getKeyFrames" />
</message>
<message name="getKeyFramesResponse">
<part name="parameters" element="tns:getKeyFramesResponse" />
</message>
<message name="getCapturedImages">
<part name="parameters" element="tns:getCapturedImages" />
</message>
<message name="getCapturedImagesResponse">
<part name="parameters" element="tns:getCapturedImagesResponse" />
</message>
<message name="addKeyFrameComment">
<part name="parameters" element="tns:addKeyFrameComment" />
</message>
<message name="addKeyFrameCommentResponse">
<part name="parameters" element="tns:addKeyFrameCommentResponse" />
</message>
<message name="addCapturedImageComment">
<part name="parameters" element="tns:addCapturedImageComment" />
</message>
<message name="addCapturedImageCommentResponse">
<part name="parameters" element="tns:addCapturedImageCommentResponse" />
</message>
<message name="deleteKeyFrame">
<part name="parameters" element="tns:deleteKeyFrame" />
</message>
<message name="deleteKeyFrameResponse">
<part name="parameters" element="tns:deleteKeyFrameResponse" />
</message>
<message name="getFriendsSessions">
<part name="parameters" element="tns:getFriendsSessions" />
</message>
<message name="getFriendsSessionsResponse">
<part name="parameters" element="tns:getFriendsSessionsResponse" />
</message>
<message name="getOtherSessions">
<part name="parameters" element="tns:getOtherSessions" />
</message>
<message name="getOtherSessionsResponse">
<part name="parameters" element="tns:getOtherSessionsResponse" />
</message>
<message name="deleteCapturedImage">
<part name="parameters" element="tns:deleteCapturedImage" />
</message>
<message name="deleteCapturedImageResponse">
<part name="parameters" element="tns:deleteCapturedImageResponse" />
</message>
<message name="newKeyFrame">
<part name="parameters" element="tns:newKeyFrame" />
</message>
<message name="newKeyFrameResponse">
<part name="parameters" element="tns:newKeyFrameResponse" />
</message>
<message name="newCapturedImage">
<part name="parameters" element="tns:newCapturedImage" />
</message>
<message name="newCapturedImageResponse">
<part name="parameters" element="tns:newCapturedImageResponse" />
</message>
<portType name="Sessions">
<operation name="newSession">
<input wsam:Action="http://sessions/Sessions/newSessionRequest" message="tns:newSession" />
<output wsam:Action="http://sessions/Sessions/newSessionResponse" message="tns:newSessionResponse" />
</operation>
<operation name="getSessions">
<input wsam:Action="http://sessions/Sessions/getSessionsRequest" message="tns:getSessions" />
<output wsam:Action="http://sessions/Sessions/getSessionsResponse" message="tns:getSessionsResponse" />
</operation>
<operation name="getKeyFrames">
<input wsam:Action="http://sessions/Sessions/getKeyFramesRequest" message="tns:getKeyFrames" />
<output wsam:Action="http://sessions/Sessions/getKeyFramesResponse" message="tns:getKeyFramesResponse" />
</operation>
<operation name="getCapturedImages">
<input wsam:Action="http://sessions/Sessions/getCapturedImagesRequest" message="tns:getCapturedImages" />
<output wsam:Action="http://sessions/Sessions/getCapturedImagesResponse" message="tns:getCapturedImagesResponse" />
</operation>
<operation name="addKeyFrameComment">
<input wsam:Action="http://sessions/Sessions/addKeyFrameCommentRequest" message="tns:addKeyFrameComment" />
<output wsam:Action="http://sessions/Sessions/addKeyFrameCommentResponse" message="tns:addKeyFrameCommentResponse" />
</operation>
<operation name="addCapturedImageComment">
<input wsam:Action="http://sessions/Sessions/addCapturedImageCommentRequest" message="tns:addCapturedImageComment" />
<output wsam:Action="http://sessions/Sessions/addCapturedImageCommentResponse" message="tns:addCapturedImageCommentResponse" />
</operation>
<operation name="deleteKeyFrame">
<input wsam:Action="http://sessions/Sessions/deleteKeyFrameRequest" message="tns:deleteKeyFrame" />
<output wsam:Action="http://sessions/Sessions/deleteKeyFrameResponse" message="tns:deleteKeyFrameResponse" />
</operation>
<operation name="getFriendsSessions">
<input wsam:Action="http://sessions/Sessions/getFriendsSessionsRequest" message="tns:getFriendsSessions" />
<output wsam:Action="http://sessions/Sessions/getFriendsSessionsResponse" message="tns:getFriendsSessionsResponse" />
</operation>
<operation name="getOtherSessions">
<input wsam:Action="http://sessions/Sessions/getOtherSessionsRequest" message="tns:getOtherSessions" />
<output wsam:Action="http://sessions/Sessions/getOtherSessionsResponse" message="tns:getOtherSessionsResponse" />
</operation>
<operation name="deleteCapturedImage">
<input wsam:Action="http://sessions/Sessions/deleteCapturedImageRequest" message="tns:deleteCapturedImage" />
<output wsam:Action="http://sessions/Sessions/deleteCapturedImageResponse" message="tns:deleteCapturedImageResponse" />
</operation>
<operation name="newKeyFrame">
<input wsam:Action="http://sessions/Sessions/newKeyFrameRequest" message="tns:newKeyFrame" />
<output wsam:Action="http://sessions/Sessions/newKeyFrameResponse" message="tns:newKeyFrameResponse" />
</operation>
<operation name="newCapturedImage">
<input wsam:Action="http://sessions/Sessions/newCapturedImageRequest" message="tns:newCapturedImage" />
<output wsam:Action="http://sessions/Sessions/newCapturedImageResponse" message="tns:newCapturedImageResponse" />
</operation>
</portType>
<binding name="SessionsPortBinding" type="tns:Sessions">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="newSession">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSessions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getKeyFrames">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCapturedImages">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addKeyFrameComment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addCapturedImageComment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteKeyFrame">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getFriendsSessions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getOtherSessions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteCapturedImage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="newKeyFrame">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="newCapturedImage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="SessionsService">
<port name="SessionsPort" binding="tns:SessionsPortBinding">
<soap:address location="http://192.168.199.36:8000/WS/SessionsService" />
</port>
</service>
</definitions>